/*
*
*	AKA Optics Website
*	- DASHBOARD.CSS -
*	By: Chloé Carpentier, Lionel Lafont, Leonardo Balland, Kevin Silvert;
*	Created at: 10/12/2016
*
*/

h2 {
    color:#3498db;
}

label {
    color:#3498db;
}

.main-dashboard {
    padding: 2em 0;
}

.dashboard_stats { }

.dashboard_stats .number {
    font-size: 4em;
}

#newspecContent {
    position: absolute;
    top: 0;
    background: white;
    padding: 2em;
    width: 50vw;
    height: 60vh;
    border: 1px solid rgba(0,0,0,.2);
    overflow-y: scroll;
}

#addSpec {
    display: none;
}
