/*
*
*	AKA Optics Website
*	- home.CSS -
*	By: Chloé Carpentier, Lionel Lafont, Leonardo Balland, Kevin Silvert;
*	Created at: 10/12/2016
*
*/
/************************************
*************CAROUSEL***************/
#myCarousel{
	background-size: cover;
	width: 100%;
	margin: 0 auto;

}
.carousel-inner{
	width: 100%;
	margin: auto;
}

.carousel-control  {
 	background-color: rgba(255, 255, 255, 0) !important;
 	background-image: none !important;
 }

.carousel-indicators img {
	max-width: 100%;
	margin: 0px auto;
	background: linear-gradient(#C0BFBF, #DBDADF, #F5F4FA); 
}

.carousel-indicators {
	width: 100%;
	left: auto;
	margin-left: 0px;

}

.carousel-indicators.active {
	opacity: 1;
}

.carousel-indicators li, .carousel-indicators .active {
	height: auto;
	width: 70px;
	text-indent: 0px;
}

.carousel-indicators li{
	-webkit-filter: grayscale(100%);
}
.carousel-indicators .active {
	-webkit-filter: grayscale(0%);
}
.carousel-indicators li {
    border: none;
    border-radius: 0px;
}
.item h2{
/*	background-color: rgba(52, 152, 219,0.8);*/
	color: white;
	
	letter-spacing: 3px;
	text-shadow: none;
	font-family: sans-serif;
}
.item .carousel-caption{
	width:100% !important;
	margin: 0 auto !important;

	
}
.carousel-caption{
	right:0%;
	left:0%;
	bottom:100px;
}

/***********************************************/
.navbar.navbar-default {
	background: none !important;
	border-color: transparent;
}

li{
	font-weight: bold;
	letter-spacing: normal;
	margin-right: 5px;
	
}

.logo {
	width: 111px;
	height: 90px;
}

.event1 {
	color: #3498db;
	font-size: 32px;
	font-weight: bold;
}

#events ul li {
	display: none;
}

.active {
	display: block !important;
	text-align: center;
	font-size: 2em;
}

.event2 {
	background-color: #3498db;
	width: 100%;
	height: 35px;
	text-align: center;
	color: white;
	
}
.blueband {
	width: 100%;
	height: auto;
	background-color: #3498db;
	color: white;
	text-align: center;
	/*position: absolute; bottom: 0; left: 0; right: 0*/
	
}
