.blueflag {
    background-color: #3498db;
    height: auto;
    width: 100%;
    color: white;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 2em;
    cursor: pointer;
}


#productRequest {
    display: none;
    z-index: 9999;
    position: absolute;
    top: 30%;
    background: white;
    border: 1px solid rgba(0,0,0,.2);
    padding: 2em 1em;
}

.title {color:#3498db;}

