.blueflag {
    background-color: #3498db;
    height: auto;
    width: 100%;
    color: white;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 2em;
    cursor: pointer;
}

.title {color:#3498db;}
