/*
*
*	AKA Optics Website
*	- HOME.CSS -
*	By: Chloé Carpentier, Lionel Lafont, Leonardo Balland, Kevin Silvert;
*	Created at: 10/12/2016
*
*/

/* GENERAL STYLES */
*{}
html,body
{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-size: 85%;
}

header {
    margin-bottom: 2em;
}

#header-image {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    height: 250px;
    width: 100%;
    overflow: hidden;
}

main {
    flex: 1 0 auto;
}

footer {
    margin-top: 2em;
    text-align: center;
}

/***** NAV ****/ 

.navbar.navbar-default {
	background: none !important;
	border-color: transparent;
}

li{
	font-weight: bold;
	letter-spacing: normal;
	margin-right: 5px;
	
}
.menu:hover{
    background-color:rgba(52, 152, 219,0.2);
    
}
a:hover{
    color:rgba(41, 128, 185,1.0) !important;
}

.logo{
    width:111px;
    height:90px;
}
